@media print {
	body {
		background: none !important;
		background: #FFF;
		background-color: #FFF;
		font-family: Arial, Helvetica, Verdana;
		width: auto !important;
		padding: 5px !important;
		font-size: 12px;
	}
	
	progress,
	.menu,
	.sidebar_left,
	.sidebar_right,
	.submenu,
	.main_menu {
		display: none;
		width: 0;
		height: 0;
	}
	
	.main_wrapper {
		margin: 0px;
		padding: 0px;
	}
	
	canvas {
		border: 0px;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	
	.canvas_wrapper canvas {
		border: 0;
	}
}
