:root {
	/* Original - Default */
	--background: #666D6F;
	--text-color: #F4F3F3;
	--text-color-muted: #C1C1C1;
	--text-color-red: #E38282;
	--text-color-green: #8BDB8B;
	--text-color-blue: #A4A4FF;
	--link-color: #9FFDA5;
	--section-background-color: #323A3C;
	--area-background-color: #464D4F;
	--block-background-color: #464D4F;
	--header-background-color: #373D3F;
	--button-background-color: #2F3739;
	--button-background-color-hover: #75DF72;
	--button-background-color-active: #4D5153;
	--button-shadow-color: rgba(0, 0, 0, 0.3);
	--button-text-color-active: #ADECAB;
	--button-border-radius: 0.4rem;
	--button-toggle-background-color: #575F62;
	--button-toggle-background-color-hover: #575F62;
	--input-background-color: #2F3739;
	--input-background-color-hover: #383F44;
	--input-text-color: #F4F3F3;
	--input-border-color: #0F0F0F;
	--input-border-color-active: #70996E;
	--input-border-radius: 0.4rem;
	--input-group-border-color:  #323A3C;
	--menu-background-color: #222;
	--menu-icons-filter: invert(1);
	--menu-icons-filter-active: none;
	--menu-text-color: #CCCCCC;
	--number-input-arrow-width: 2rem;
	--background-color-active: #ADECAB;
	--background-color-hover: #575F62;
	--text-color-active: #215B2A;
	--border-color: #727677;
	--scrollbar-track-color: #464D4F;
	--scrollbar-thumb-color: #2F3739;
	--mobile-menu-toggle-filter: invert(1);
}

body.theme-light {
	/* Light */
	--background: #F9F9FA;
	--text-color: #0C0C0D;
	--text-color-muted: #444444;
	--text-color-red: #BB2424;
	--text-color-green: #2B882B;
	--text-color-blue: #5454CA;
	--link-color: #000080;
	--section-background-color: #EAEAEA;
	--area-background-color: #D9D9D9;
	--block-background-color: #EAEAEA;
	--header-background-color: #DBDBDB;
	--button-background-color: #F9F9FA;
	--button-background-color-hover: #DDD;
	--button-background-color-active: #F3F3F3;
	--button-text-color-active: #59AED8;
	--button-shadow-color: rgba(0, 0, 0, 0.1);
	--button-toggle-background-color: #B7B7B7;
	--button-toggle-background-color-hover: #B7B7B7;
	--input-background-color: #FFFFFF;
	--input-background-color-hover: #DDD;
	--input-text-color: #0C0C0D;
	--input-border-color: #CCC;
	--input-border-color-active: #59AED8;
	--input-group-border-color: #C4C4C4;
	--menu-background-color: #EAEAEA;
	--menu-icons-filter: none;
	--menu-icons-filter-active: invert(1);
	--menu-text-color: #333333;
	--menu-dropdown-hover-background-color: #A3DBF7;
	--menu-dropdown-border-color: #15439B;
	--background-color-active: #A3DBF7;
	--background-color-hover: #C4C4C4;
	--text-color-active: #15439B;
	--border-color: #C1C1C1;
	--scrollbar-track-color: #F9F9FA;
	--scrollbar-thumb-color: #919090;
	--mobile-menu-toggle-filter: none;
}

body.theme-green {
	/* Green */
	--background: #050702;
	--text-color: #ACC3A9;
	--text-color-muted: #80937D;
	--link-color: #9FFDA5;
	--section-background-color: #1C2E04;
	--area-background-color: #3B5F11;
	--block-background-color: #3B5F11;
	--header-background-color: #2B460F;
	--button-background-color: #2E4A0D;
	--button-background-color-hover: #58960E;
	--button-background-color-active: #2B460F;
	--button-text-color-active: #CCC;
	--button-toggle-background-color: #243E05;
	--button-toggle-background-color-hover: #243E05;
	--input-background-color: #FFFFFF;
	--input-background-color-hover: #DDD;
	--input-text-color: #0C0C0D;
	--input-border-color: #CCC;
	--menu-background-color: #1C2E04;
	--menu-icons-filter: invert(1);
	--menu-icons-filter-active: none;
	--menu-text-color: #ACC3A9;
	--background-color-active: #58960E;
	--background-color-hover: #58960E;
	--text-color-active: #ACC3A9;
	--border-color: #4D6B1E;
	--scrollbar-track-color: #050702;
	--scrollbar-thumb-color: #80937D;
	--mobile-menu-toggle-filter: invert(1);
}

* {
	box-sizing: border-box;
	background-repeat: no-repeat;
}

html {
	font-size: 10px; /* Base is 10px for easy REM calculation */
}

body{
	margin: 0;
	padding: 30px 0 0 0;
	background-color: #424F5A;
	background: var(--background);
	font-size: 1.3rem;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--text-color);
	line-height: 1.4;
	font-weight: normal;
	overflow: hidden;
}

canvas {
	outline: none;
	/* Disable select canvas */
	-webkit-touch-callout: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

img {
	border: none;
}

td, th {
	vertical-align: top;
}

table {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

hr {
	border-color: rgba(0, 0, 0, 0.3);
	border-bottom: 0;
}

input[type="text"], select, input[type="number"], textarea {
	background: var(--input-background-color);
	border: 1px solid var(--input-border-color);
	border-radius: var(--input-border-radius);
	color: var(--input-text-color);
	padding: 3px 5px;
	font-size: 13px;
}

input:disabled {
	opacity: 0.3;
}

select{
	padding: 2px 4px;
}

input[type="range"] {
	margin-left: 0;
	width: 100%;
}

button, input[type="button"] {
	border-radius: var(--button-border-radius);
	box-shadow: 0 1px 2px 0 var(--button-shadow-color), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
	cursor: pointer;
	border: 1px solid var(--border-color);
	background-color: var(--button-background-color);
	color: var(--text-color);
}

button:hover, input[type="button"]:hover {
	background-color: var(--button-background-color-hover);
}

button:disabled, input[type="button"]:disabled {
	visibility:hidden;
}

button[aria-pressed="true"], input[type="button"][aria-pressed="true"] {
	background-color: var(--button-background-color-active);
	color: var(--button-text-color-active);
	box-shadow: 0 1px 2px 0 var(--button-shadow-color), 0 1px 1px 1.5px rgba(58, 40, 40, 0.1) inset, 0 -1px 0 0 var(--button-text-color-active) inset;
}

button[aria-pressed="true"]:hover, input[type="button"][aria-pressed="true"]:hover {
	background-color: var(--button-background-color-hover);
}

button.ui_toggle_button:hover {
	background-color: var(--button-toggle-background-color-hover);
}

label {
	display: inline-block;
	vertical-align: top;
	margin-top: 7px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track-piece {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.6);
}

@supports (zoom:2) {
	input[type="radio"],  input[type=checkbox] {
		zoom: 1.5;
	}
}

@supports not (zoom:2) {
	input[type="radio"],  input[type=checkbox] {
		transform: scale(1.5);
		transform-origin: left center;
		margin: 8px 12px 8px 0;
	}
}
